@import "../../../sass/colors";

.settingsComponent {
    min-height: calc(100vh - 74px);
    width: 100%;

    // General
    &Form {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);

        &Main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &Input {
                flex: 0.48;
                margin: 20px 0;
                max-width: 650px;

                label {
                    margin-bottom: 15px;
                    color: #fff;
                    font-size: 20px;
                }

                input {
                    flex: 1;
                    padding: 15px;
                    font-size: 16px;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                }

                display: flex;
                flex-direction: column;
            }
        }
    }
    .settingsComponentBtn,
    .settingsComponentBtn:hover {
        display: block;
        max-width: 500px;
        width: 80%;
        min-width: max-content;
        margin: 50px auto;
        padding: 10px;
        text-transform: capitalize;
        background: $dark-blue;
        font-size: 16px;
        color: #fff;
    }

    &Content {
        margin: 30px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);

        > h2 {
            color: #fff;
            font-weight: 500;
            margin-bottom: 5px;
            text-align: center;
        }
        > p {
            color: lightgray;
            text-align: center;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                position: absolute;
                content: "";
                bottom: -20px;
                width: 200px;
                height: 3px;
                background: rgba(255, 255, 255, 0.1);
            }
        }

        &Main {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 40px auto;
        }
    }

    .generalSwitchs {
        flex: 1;
        max-width: 400px;
        // width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px 20px;

        > p {
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            text-align: justify;
        }
    }

    .prefrenceSwitchs {
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .Switch {
            max-width: 500px;
            width: 50%;
        }
    }

    .Switch {
        width: 100%;
        margin: 15px 0;
        display: flex;
        align-items: center;

        h3 {
            color: #fff;
            font-weight: 400;
        }
        &Span {
            margin: 0 10px;
            border: 1px dashed rgba(255, 255, 255, 0.25);
            flex: 1;
        }
    }

    &Header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: #fff;
            font-weight: 500;
        }
    }

    &Para {
        margin: 20px 0;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
    }

    // DEPOSIT
    .depostiHeader {
        margin: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .autocomplete {
            background: rgba(255, 255, 255, 1);
            transition: 0.3s ease !important;
            border-radius: 10px;
            width: 200px;
            margin-top: 10px;
        }

        h3 {
            margin-top: 10px;
            color: #fff;
            font-weight: 500;
            font-size: 22px;
        }
    }

    > .verifyPara {
        margin: 50px 0;
        max-width: 600px;
        color: #fff;
        font-size: 18px;
        line-height: 35px;
    }

    &VerifyBox {
        padding: 50px;
        border: 2px dashed $light-indigo;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 125px;
            width: 50%;
            min-width: 75px;
            object-fit: contain;
            margin-bottom: 50px;
        }
        p {
            max-width: 400px;
            text-align: center;
            color: rgba(255, 255, 255, 0.3);
            font-size: 20px;
        }
    }
}

@media (max-width: 800px) {
    .prefrenceSwitchs {
        flex-direction: column;
        align-items: center;

        .Switch {
            min-width: 100% !important;
        }
    }
}
@media (max-width: 650px) {
    .settingsComponentFormMain {
        flex-direction: column;
    }
    .settingsComponentContentMain {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .settingsComponent {
        min-height: calc(100vh - 64px);
    }
}
