.home {
  max-height: calc(100vh - 74px);
  flex: 1;
  padding: 30px;
  color: #fff;
  overflow-y: scroll;
}

.homeTop {
  width: 100%;
}

.homeTop > h3 {
  font-weight: 500;
  margin: 20px 0;
  font-size: 22px;
}

.homeTopCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .homeLinks {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .homeLinks .homeLink:nth-child(1) {
  margin-right: 20px;
}

.home .homeLinks .homeLink {
  flex: 1;
  margin-bottom: 20px;
}

.home .homeLinks .homeLink h3 {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
}

.home .homeLinks .homeLinkInput {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.home .homeLinks .homeLinkInput input {
  width: 0;
  flex: 1;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
}

.home .homeLinks .homeLinkInput button {
  color: #007aff;
  border-radius: 0;
  border-left: 1px solid #000;
  padding: 10px 20px;
}

.home .homeLinks .homeLink:nth-child(2) button {
  color: #fff;
  background: #007aff;
}

.home .homeTable {
  margin: 40px 0;
}

.home .homeTableTabs button {
  color: #fff;
  padding: 5px 0;
  font-size: 22px;
  text-transform: capitalize;
  margin-right: 20px;
  border-bottom: 5px solid transparent;
  transition: 0.3s ease;
}

.home .homeTableTabs .btnActive {
  color: #007aff;
  border-bottom: 5px solid;
}

@media (max-width: 750px) {
  .homeLinks {
    flex-direction: column !important;
  }
  .homeLinks .homeLink:nth-child(1) {
    margin-right: 0 !important;
  }
}

@media (max-width: 650px) {
  .homeTopCards {
    flex-direction: column;
  }
  .homeTopCards .dashedCard {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .hideTable {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .home {
    max-height: calc(100vh - 64px);
  }
}
