.homeCard {
  background-color: #223744 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 40px 20px;
  margin-right: 20px;
  height: 450px;
}

.homeCard img {
  width: 75px;
  object-fit: contain;
}

.homeCard .homeCardConent {
  margin-bottom: 20px;
}

.homeCard .homeCardConent h4 {
  color: #42a4db;
  font-weight: 400;
  margin-bottom: 10px;
}

.homeCard .homeCardConent h2 {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 10px;
}

.homeCard .homeCardConent p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 30px;
  max-width: 400px;
  width: 90%;
}

.homeCard .homeCardConent .homeLeftBoxLeftBtns button:nth-child(1) {
  background: #007aff;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 10px;
}

.homeCard .homeCardConent .homeLeftBoxLeftBtns button {
  color: #007aff;
}
